@page "/"

<h1>Aplicada 2!</h1>

<h3>Parcial 2 - Ronald Alvarado</h3>

Esta aplicación esta diseñada para gestionar el Cobro de algunas empresas.

<SurveyPrompt Title="How is Blazor working for you?" />
